*.swp
*.o
*.avi
*.out
*.orig
*.data
*.log
*.gcno
*.gcda
*.gcov
*.conf
gmon.out
bin/*
tmp/*
gdb_cmds
.data
.cproject
.project
.settings/
/cppcomplete.tags
/Makefile.new
/Makefile.sugestion
/CycloTracker.conf
/bin/