*.swp
*.o
*.avi
*.out
*.orig
*.data
*.log
*.gcno
*.gcda
*.gcov
gmon.out
bin/*
tmp/*
gdb_cmds
.data
.camera.conf
.cproject
.project
.settings/
/cppcomplete.tags
/Makefile.new
/Makefile.sugestion
/CycloTracker.conf
